.Timer .timer__line {
  display: flex;
  flex-wrap: wrap;
}

.Timer .timer__line button {
  flex: 1;
}

.Timer .timer__line .timer-display {
  flex-basis: 100%;
  text-align: center;
  align-self: center;
  margin: 14px;
}

@media screen and (min-width: 401px) {
  .Timer .timer__line .timer-display {
    flex: 5;
  }
  .Timer .timer__display-line :nth-child(1) {
    order: 5;
  }
  .Timer .timer__display-line :nth-child(2) {
    order: 4;
  }
  .Timer .timer__display-line :nth-child(3) {
    order: 3;
  }
  .Timer .timer__display-line :nth-child(4) {
    order: 1;
  }
  .Timer .timer__display-line :nth-child(5) {
    order: 2;
  }
}
