.Accordion {
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 2px;
}

.Accordion .Accordion__list-item {
  background-color: white;
  color: black;
  border-radius: 10px;
  border: 2px solid #e7e7e7;
  margin: 10px;
  padding: 5px;
}

.AccordionItem .AccordionItem__inner {
  transform-origin: top left;
  max-height: 35rem;
  transition-timing-function: ease-in;
  transition-duration: 0.3s;
  transition-property: max-height;
  position: relative;
  overflow: hidden;
}

.AccordionItem .AccordionItem__content {
  transform: rotate(0deg);
  transform-origin: top left;
  transition-timing-function: cubic-bezier(1, 2.5, 1, 1);
  transition-timing-function: ease-out;
  transition-duration: 1s;
  transition-duration: 0.3s;
  transition-property: transform;
  position: relative;
}

.AccordionItem .bounce {
  /* Abscissas must be in the [0, 1] range or the curve is not a function of time. */
  transition-timing-function: cubic-bezier(0.7, 1.6, 0, 0.75);
  transition-timing-function: cubic-bezier(0.3, 2.3, 0.1, -0.25); /* by vivi */

  transition-duration: 0.7s;
  transition-duration: 1s; /* by vivi */
}

.AccordionItem--closed .AccordionItem__inner {
  max-height: 0rem;
  transition-timing-function: ease-out;
}

.AccordionItem--closed .AccordionItem__content {
  transform: rotate(-90deg);
  transition-timing-function: ease-in;
}

.AccordionItem .AccordionItem__line {
  cursor: pointer;
}
