.accordion-list {
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 10px;
}

.accordion-list > .accordion-list__item {
  background-color: white;
  color: black;
  border-radius: 20px;
  border: 2px solid #e7e7e7;
  margin: 10px;
  padding: 10px;
}

.accordion-item > .accordion-item__inner {
  transform-origin: top left;
  max-height: 25rem;
  transition-timing-function: ease-in;
  transition-duration: 0.3s;
  transition-property: max-height;
  position: relative;
  overflow: hidden;
}

.accordion-item .accordion-item__content {
  transform: rotate(0deg);
  transform-origin: top left;
  transition-timing-function: cubic-bezier(1, 2.5, 1, 1);
  transition-timing-function: ease-out;
  transition-duration: 1s;
  transition-duration: 0.3s;
  transition-property: transform;
  position: relative;
}

.accordion-item .bounce {
  transition-timing-function: cubic-bezier(0.7, 1.6, 0, 0.75);
  transition-duration: 1s;
}

.accordion-item--closed .accordion-item__inner {
  transform-origin: top left;
  max-height: 0rem;
  /* transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22); ORIG from https://codepen.io/sedlukha/pen/WPeemb?editors=0100 */
  /* transition-timing-function: cubic-bezier(0.7, 1.6, 0, 0.75); FUN BOUNCE */
  /* transition-timing-function: cubic-bezier(-0.11, 1.56, 0.33, 0.754); WHY NOT WORKING?
  ****/
  /* ***Abscissas must be in the [0, 1] range or 
   the curve is not a function of time. */

  /* transition-timing-function: cubic-bezier(0, 1.15, 0, 0.95); */
  transition-timing-function: ease-out;
  transition-duration: 0.3s;
  transition-property: max-height;
}

.accordion-item--closed .accordion-item__content {
  transform: rotate(-90deg);
  transition-timing-function: ease-in;
  transition-duration: 0.3s;
  transition-property: transform;
}

.accordion-item .accordion-item__line {
  cursor: pointer;
}
