body {
  /* see https://www.w3schools.com/css/css_font.asp search: "combination of percent and em" */
  font-size: 150%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* from create react app */
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* END from create react app */
}

h3 {
  margin: 10px 0;
}

button {
  background-color: white;
  border-radius: 20px;
  border: 2px solid #e7e7e7;
  color: black;
  cursor: pointer;
  font-size: 0.8em;
  margin: 6px 6px;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* avoid Chrome blue box around focussed buttons */
/* but add a background color for keyboard navigation (e.g.: tabbing */
button:focus {
  outline: none;
  background-color: #fef4f4;
}

/* THOUGHTS: moved here from the react component ! */
.onoffbutton {
  padding: 15px 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
.false {
  background-color: hotpink;
}
*/
