body {
  /* see https://www.w3schools.com/css/css_font.asp search: "combination of percent and em" */
  font-size: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* from create react app */
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* END from create react app */
}

h3 {
  margin: 10px 0;
}

button {
  background-color: white;
  border-radius: 10px;
  border: 2px solid #e7e7e7;
  color: black;
  cursor: pointer;
  font-size: 0.8em;
  margin: 4px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* avoid Chrome blue box around focussed buttons */
/* but add a background color for keyboard navigation (e.g.: tabbing */
button:focus {
  outline: none;
  background-color: #fef4f4;
}

/* THOUGHTS: moved here from the react component ! */
.onoffbutton {
  padding: 15px 30px;
}

button.--active {
  border: 2px solid #f44336;
}

button.--disabled {
  color: #bfbfbf;
  border: 2px solid #f7f7f7;
}

i.caret {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: translateY(-3px) rotate(45deg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
.false {
  background-color: hotpink;
}
*/

div {
  /* user-select: none; /* supported by Chrome and Opera */
  /* -webkit-user-select: none; /* Safari */
  /* -khtml-user-select: none; /* Konqueror HTML */
  /* -moz-user-select: none; /* Firefox */
  /* -ms-user-select: none; /* Internet Explorer/Edge */
  /* -webkit-tap-highlight-color: red; */
  -webkit-tap-highlight-color: transparent; /* for removing the tapped element highlight on android */
}

/* TODO **** use variables in Sass for min-width */

@media screen and (min-width: 376px) {
  body {
    background-color: #f5f1f1;
    max-width: 450px;
    margin: 0px auto;
  }

  div.flex-media-small-break {
    flex-basis: 100%;
    height: 0;
  }
}
